.empty_basket-block {
  display: grid;
  place-items: center;
  margin: 0 auto;
  margin-bottom: 130px;
  width: 540px;
  span {
    margin: 30px 10px;
    font-weight: 500;
    font-size: 30px;
    color: #101010;
  }
  p {
    color: #838383;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
